.main {
    width: 100vw;
    height: 100vh;
    background-color: #F4F4F4;
}

.div_center {
    position: absolute;
    width: 65%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #CECECE;
    background: linear-gradient(45deg, #3AAEA1, #3DB498, #3DB498, #4CBE9A);
}

.txt_ttl {
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: white;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px 30px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: 200ms;
}

.btn:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    background-color: rgb(29, 29, 29);
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    cursor: pointer;
}